# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4fedec1238731148f0af2f07a16305e40907c4a231b07c46d789cb991f2a34ce16be6e6ac294861b6322c8e8c08ee33998dcf8f9b27115cd025b0a9e7d0fc88f

test:
  secret_key_base: 263a8f83c2f26afd9ac9b1bd38f935b219e2507881a3b13215a949cfc6ab5aaa6ead727e08091956afcab35fa6417847730d72a76d5b3498b747409ddb933133

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
