<div class="row-fluid">
  <div class="span6 offset3">
    <h2 class="text-center">Categories</h2>
  </div>
</div>
<div class="row-fluid">

  <ul class="thumbnails">
    <% @categories.each do |category| %>

    <li class="span4">
      <%= link_to category.cat_name, category_path(category), class: 'btn btn-large btn-primary' %>
    </li>

    <% end %>
  </ul>

</div>

<div class="row-fluid">
  <div class="span6 offset3">
    <%= link_to "Create a New Category", new_category_path, class: "btn btn-primary" %>
  </div>
</div>
